@font-face{
	font-family: pb;
	src: url(../police/captureit.ttf);
}

*{
	font-family: Arial, sans serif;
}
body{
 background-color: grey;
}
header{
	border-bottom: 1px solid black;
	background-color: #424242;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
header .menu ul li a{
	color: white;
	padding-left: 7px;
}
.bas{
	background-color: #727272;
	border-radius: 10px;
}
.menu{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
.menu a{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	border-right: 2px solid black;
	padding-right: 11px;
	text-decoration: none;
	color: black;
}
#none{
	border-right: none;
}
.menu a:hover, #none:hover{
	color: #7c7c7c;
	text-decoration: underline;
}
.menu ul li{
	display: inline-block;
	float: left;
	vertical-align: top;
}
.menu ul li input, .menu ul li span{
	vertical-align: top;
}
header img{
	width: 20%;
}
.fond{
	width: 95%;
	margin:10px auto auto auto;
	display: block;
	border: 1px solid white;
	border-radius: 10px;
}
.icon{
	display: inline-block;
	vertical-align: middle;
}
.icon img{
  color: #4f5b66;
  width: 20px;

}
#in{
	width: 95%;
	margin: auto;
	background-color:#a0a0a0;
	padding: 10px;
	border-radius: 10px;
}
h1{
	font-size: 42px;
	margin: 10px;
	font-family: pb;
}
.text p{
	text-align:justify;
}
.photo{
	width: 100%;
	padding: auto;
}
.photo div{
	display: inline-block;
	text-align: center;
	width: 25%;
	vertical-align: top;
}
.photo img{
	width: 150px;
	height: 200px;
	border: 1px solid white;
	border-radius: 10px;

}
.photo div p{
	text-align: center;
	padding: 15px;
}
.map{
	width: 49.7%;
	display: inline-block;
}
.map iframe{
	width: 99%	
}
.form{
	width: 49.7%;
	display: inline-block;
	vertical-align: top;
	float: right;
}
.bras{
	display: inline-block;
}
.nom,.prenom, .date,.vnai{
	width: 48%;
	margin-bottom: 20px;
}
.mail, .photo{
	width: 97.5%;
	margin-bottom: 20px;
}
textarea{
	width: 97.5%;
	height: 150px;
	background-color: #cccdce;
}
h4{
	background-color: #424242;
	padding: 10px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	font-family: pb;
}
.valider{
	margin: 5px;
	margin-top: 15px;
	float: right;

}
footer{
	margin-top: 3%;
	border-top: 1px solid black;
}
footer p{
	font-size: 15px;
	float: right;
	margin-right: 10px;
}
.tel{
	display: none;
}
input{
	background-color: #cccdce;
}
#menuToggle{
	display: none;
}

@media only screen    and (min-width : 480px)    and (max-width : 1400px) {

.menu ul li{
	float: none;
}
.menu ul{
	padding: 0;
	text-align:center;
}
p{
	font-size: 12px;
}
#in{
	width: 100%;
	padding: 0;
}
.text{
	padding: 2%;
}
.fond{
	width: 100%;
}
header{
	height: 110px;
}
.logo{
	margin-left:40%;
}
.menu{
	float: none;
	margin-bottom: 10px;
}
.photo div{
	width: 50%;
}
.nom,.prenom, .date,.vnai{
	width: 97.5%;
}
.photo div img{
	width: 225px;
	height: 300px;
}
.tel{
	display: none;
}

}


@media only screen    and (min-width : 320px)    and (max-width : 480px) {

#in{
	width: 100%;
	padding: 0;
}
.text{
	padding: 2%;
}
p{
	font-size: 16px;
}
.fond{
	width: 100%;
}
.photo div{
	width: 100%;
}
.photo div p{
	font-size: 14px;
}
.photo div img{
	width: 112.5px;
	height: 150px;
}
.nom,.prenom, .date,.vnai{
	width: 97.5%;
}
.logo{
	margin-left: 35%;
	width: 102px;
	height: 25,5px;

}
.menu{
	display: none;
}
.map, .form{
	width: 100%;
}
h4{
	font-size: 20px;
}
input{
	font-size: 15px;
}
.tel{
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
	top: 4px;
	right: 4px;
}
footer{
	float: left;
	width: 100%;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  top: 7px;
  left: 5px;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 75px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 20px;
}
#menu a li {
	color: black;
}
#menu a{
	text-decoration: none;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

}